<!doctype html>
<html class="no-js" lang="">

{{> head }}

<body class="body-tag">

{{!---
a position helper
<div style="background:#ff0000;width:5px;height:5px;position:absolute;left:10px;z-index:10;" id="position-helper"></div>
--}}

{{> header }}

<div class="content-area">

    {{> body }}

</div>

{{> footer }}

{{> scripts }}

</body>

</html>
