<div class="container section">
    <div class="container__outer">
        <div class="container__inner">
            <a href="#datenträger">Link auf den Toggle Container</a>
        </div>
    </div>
</div>

{{#with data_container_toggable}}
    {{#each variants}}
    <div class="containerToggable section AEM">
        <div class="containerToggable__inner jsc" data-jsc-name="containerToggable:ContainerToggable">
            <div class="containerToggable__prompt container__inner container__inner--noflex">
                <div class="containerToggable__prompt__wrap jsTogglePrompt">
                    {{#if headline}}
                    <a class="containerToggable__anchor">
                        <span class="containerToggable__anchor__text">{{headline}}</span>
                        <span class="containerToggable__anchor__icon"></span>
                    </a>
                    {{/if}}
                </div>
            </div>

            <div class="containerToggable__container">
                <div class="containerToggable__content">
                    <div class="container">
                        <div class="container__inner container__inner--{{container_layout}}">
                            {{#each teaser}}
                            {{> teaser_text_icon}}
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
{{/with}}