<div class="container section">
    <div class="container__outer">
        <div class="container__inner">
            <div>
                <a href="#" class="button"
                   onclick="window.appDebug.app.getJSC($('.jsSpinnerDemo').first().data('jsc-intern-id')).addSpinner()">
                    add spinner
                </a>
            </div>
            <div>
                <a href="#" class="button"
                   onclick="window.appDebug.app.getJSC($('.jsSpinnerDemo').first().data('jsc-intern-id')).removeSpinner()">
                    remove spinner
                </a>
            </div>

        </div>
    </div>
</div>


<div class="container section jsc jsSpinnerDemo" data-jsc-name="demo:ComponentSpinnerDemo">
    <div class="container__outer">
        <div class="container__inner container__inner--2-per-line">
            {{> dummy_item}}
            {{> dummy_item}}
            {{> dummy_item}}
            {{> dummy_item}}
        </div>
    </div>
</div>



