<div class="headline-component headline-component--left">
    <h2>Komponente containerSlider normal mit 4 Items</h2>
</div>

<div class="containerSlider section">
    <div class="containerSlider__inner jsc" data-jsc-name="containerSlider:ContainerSlider">
        <div class="containerSliderTeaser section AEM">
            <div class="containerSliderTeaser__inner">
                <div class="containerSliderTeaser__background" style="background-image: url('dummy/images/teaser-3er-produkt01.jpg')">
                    <a href="#" target="_self" class="containerSliderTeaser__content">
                        <h3 class="containerSliderTeaser__headline">Hochzeit</h3>
                        <span href="#" class="containerSliderTeaser__link"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="containerSliderTeaser section AEM">
            <div class="containerSliderTeaser__inner">
                <div class="containerSliderTeaser__background" style="background-image: url('dummy/images/teaser-3er-produkt01.jpg')">
                    <a href="#" target="_self" class="containerSliderTeaser__content">
                        <h3 class="containerSliderTeaser__headline">Frühling</h3>
                        <span href="#" class="containerSliderTeaser__link"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="containerSliderTeaser section AEM">
            <div class="containerSliderTeaser__inner">
                <div class="containerSliderTeaser__background" style="background-image: url('dummy/images/teaser-3er-produkt01.jpg')">
                    <a href="#" target="_self" class="containerSliderTeaser__content">
                        <h3 class="containerSliderTeaser__headline">Baby</h3>
                        <span href="#" class="containerSliderTeaser__link"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="containerSliderTeaser section AEM">
            <div class="containerSliderTeaser__inner">
                <div class="containerSliderTeaser__background" style="background-image: url('dummy/images/teaser-3er-produkt01.jpg')">
                    <a href="#" target="_self" class="containerSliderTeaser__content">
                        <h3 class="containerSliderTeaser__headline">Urlaub</h3>
                        <span href="#" class="containerSliderTeaser__link"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="headline-component headline-component--left">
    <h2>Komponente containerSlider 1-per-line mit 3 Items</h2>
</div>

<div class="containerSlider section">
    <div class="containerSlider__inner containerSlider__inner--1-per-line jsc" data-jsc-name="containerSlider:ContainerSlider">
        <div class="containerSliderTeaser section AEM">
            <div class="containerSliderTeaser__inner">
                <div class="containerSliderTeaser__background" style="background-image: url('dummy/images/teaser-3er-produkt01.jpg')">
                    <a href="#" target="_self" class="containerSliderTeaser__content">
                        <h3 class="containerSliderTeaser__headline">Hochzeit</h3>
                        <span href="#" class="containerSliderTeaser__link"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="containerSliderTeaser section AEM">
            <div class="containerSliderTeaser__inner">
                <a class="containerSliderTeaser__background" style="background-image: url('dummy/images/teaser-3er-produkt01.jpg')">
                    <a href="#" target="_self" class="containerSliderTeaser__content">
                        <h3 class="containerSliderTeaser__headline">Frühling</h3>
                        <span href="#" class="containerSliderTeaser__link"></span>
                    </a>
            </div>
        </div>
    </div>
    <div class="containerSliderTeaser section AEM">
        <div class="containerSliderTeaser__inner">
            <div class="containerSliderTeaser__background" style="background-image: url('dummy/images/teaser-3er-produkt01.jpg')">
                <a href="#" target="_self" class="containerSliderTeaser__content">
                    <h3 class="containerSliderTeaser__headline">Baby</h3>
                    <span href="#" class="containerSliderTeaser__link"></span>
                </a>
            </div>
        </div>
    </div>
</div>
</div>


